/*----------- Variable colors -------------*/

@import url('../../static/Themes.css');

/*------- Contributions -------*/

.contributions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    margin-top: 60px;
}

.contribution__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    color: var(--primary-color);
}

.contribution_intro {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.contribution_intro h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.contribution_intro p {
    font-weight: 400;
    width: 80%;
    margin-bottom: 1rem;
}

.contribution__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*------- mobile view -------*/

@media screen and (max-width: 768px) {
    .contributions {
        flex-direction: column;
        padding: 0;
    }

    .contribution_intro {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .contribution_intro h1 {
        font-size: 1.5rem;
    }

    .contribution_intro p {
        font-size: 0.8rem;
    }
}

/* tablet view */

@media screen and (max-width: 1024px) {
    .contribution_intro h1 {
        font-size: 2rem;
    }

    .contribution_intro p {
        font-size: 0.8rem;
    }
}
