.project__title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.projects_con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.project__card {
  width: 450px;
  height: auto;
  margin: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: flex-start;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.project__card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.project__card__title {
  margin-bottom: 20px;
  display: flex;
  font-weight: 600;
  font-size: 32px;
  flex-direction: row;
  align-items: center;
  color: #5a5d87;
  justify-content: flex-start;
}

.project__card__description {
  margin-bottom: 20px;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.project__link__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.view__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.view__project__btn {
  position: relative;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 47px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #5a5d87;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.view__project__btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
