.header {
  background-color: #119bef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 95vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(163, 31, 31, 0.5);
  z-index: -1;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  z-index: 100;
}

.ham__menu {
  display: none;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.ham__menu:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

/* navbar on scroll to fix at the top */

.nav--scroll {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
  background-color: #5a5d87;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

.nav__logo {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
  display: flex;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link img {
  border-radius: 2px;
  width: 18px;
  height: 18px;
}

.intro {
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #ffffff;
}

.intro__wrapper {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.intro__subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.intro__text {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  font-weight: 600;
  max-width: 500px;
  min-width: 300px;
  margin-bottom: 20px;
}

/* screen responsiveness */

@media screen and (max-width: 768px) {
  .header {
    height: auto;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .ham__menu {
    display: block;
  }
  .nav__list {
    display: none;
  }
  .intro {
    flex-direction: column;
    align-items: center;
  }
  .intro__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .intro__title {
    font-size: 40px;
  }
  .intro__subtitle {
    font-size: 16px;
  }
  .intro__text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .intro__img {
    padding-bottom: 100px;
  }
  .downarrow {
    display: none;
  }
  .btn {
    font-size: 14px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 30px;
  }
  .intro__subtitle {
    font-size: 14px;
  }
  .intro__text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .btn {
    font-size: 12px;
    padding: 10px 15px;
  }
}
